*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #dcebd8;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    max-width: 430px;
    text-align: center;
    position: relative;
    padding: 20px;
}

.icon-left{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 42px;
}

.icon-right{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 42px;
}

h1{
    margin-top: 90px;
    color: #0d3b4a;
    font-size: 52px;
    font-weight: 700;
    letter-spacing: 2px;
}

.card{
    background: white;
    margin-top: 40px;
    padding: 40px 25px;
    border-radius: 30px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.card p{
    color: #555;
    line-height: 1.9;
    font-size: 15px;
    margin-bottom: 35px;
}

button{
    background: #cfe6c7;
    border: none;
    padding: 15px 40px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    transform: scale(1.05);
}

.card a{
    display: block;
    margin-top: 25px;
    color: #666;
    text-decoration: none;
    font-size: 14px;
}